:root {
  --background: #0f0f11;
  --background-secondary: #232125;
  --text-foreground: #fbfbfb;
  --text-secondary: #000;
  --primary: #e8bdfa;
  --text-muted: #a3a0a7;

  --rounded-small: 6px;
  --rounded-medium: 10px;
}

button {
  cursor: pointer;
  font-weight: 500;

  padding: 8px;
  border-radius: var(--rounded-small);

  &[data-theme='primary'] {
    background: var(--primary);
    color: black;
  }

  &[data-theme='secondary'] {
    background: var(--background);
  }
}

input {
  padding: 8px;
  border-radius: var(--rounded-small);
  background: var(--background);
  font-weight: 600;

  &::placeholder {
    color: var(--text-muted);
  }
}
