:host {
  width: 600px;
  border-radius: var(--rounded-medium);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-secondary);
  padding: 24px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary);
}

.todo-list {
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    & input {
      flex: 1 1 0%;
    }
  }
}
